[project]
	description = A complete AngularJS directive for the Arshaw FullCalendar.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/costin-zaharia
[access "refs/for/refs/*"]
	read = group user/costin-zaharia
	push = group user/costin-zaharia
	label-Code-Review = -2..+2 group user/costin-zaharia
	label-Verified = -1..+1 group user/costin-zaharia
	rebase = group user/costin-zaharia
	removeReviewer = group user/costin-zaharia
	submit = group user/costin-zaharia
[access "refs/heads/*"]
	read = group user/costin-zaharia
	create = group user/costin-zaharia
	push = +force group user/costin-zaharia
	pushMerge = group user/costin-zaharia
[access "refs/tags/*"]
	push = +force group user/costin-zaharia
	pushTag = group user/costin-zaharia
	pushSignedTag = group user/costin-zaharia
